<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>編集ページ</title>
</head>
<body>
<form action="/edit/{{item['book_ID']}}" method="POST">
    <input type="text" name="comment" size="100" maxlength="100" value="{{item['comment']}}">
    <input type="text" name="worry_ID" size="10" maxlength="10" value="{{item['worry_ID']}}">
    <br>
    <input type="submit" value="送信" name="save">
</form>

</body>
</html>

