{% extends 'base.html' %}
{% block content %}



    <br>
    <br>
    <img  class="azarashi" src="../static/img/azarashi.png" alt="">
    <br>
    <br>
    <h2>おススメの本投稿ありがとう♪</h2>
    <br>
    <br>
    <br>
    <div class="fun_comment_box">
        <h4 class="box23">{{fun_comment}}</h4>
        <div class="img_box">
            <div class="kurage_img">
                <img src="../static/img/kurage.png" alt="" id="kurage" class="purupuru">
            </div>
        </div>
    </div>
    <ul class="url_twitter"> 
        <li class="twitter_content"><img src="../static/img/kurage.png" alt=""><a href="../">トップページ</a> </li>
    </ul>
    <br>
{% endblock %}